{% extends 'blog/base.html' %}
{% load static %}
{% block content %}



<br>
<div class="container">
    <header class="page-header ">
        <h1><a href="/">Les joueurs</a></h1>
        

    </header>
    <br>
    
    
    <main class="row d-flex flex-row">
        {% for character in characters %}
        <div class="col border-0">
            <div class="card">
                
                <h2><a href="{% url 'character_detail' id_character=character.id_character %}">{{ character.id_character }}</a></h2>
                
                {% if character.photo %}
                    <img src="{% static 'assets/'|add:character.photo %}.jpg" alt="{{ character.id_character }} photo" style="width: 100px; height: 100px;">
                {% endif %}
                
                
                <p><strong>Etat:</strong> {{ character.etat }}</p>
                <p><strong>Lieu:</strong> {{ character.lieu }}</p>
            </div>
        </div>
    {% endfor %}  
    </main>
    {% endblock %}