h1 a, h2 a { color: #C25100; font-family: 'Lobster'; } 
body { padding-left: 15px; 
    background-color: #f8f9fa; 
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}
 
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
 
h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}
 
.date {
    color: #828282;
}
 
.save {
    float: right;
}
 
.post-form textarea,
.post-form input {
    width: 100%;
}
 
.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
 
.post {
    margin-bottom: 70px;
}
 
.post h2 a,
.post h2 a:visited {
    color: #000000;
}
 
.post > .date,
.post > .actions {
    float: right;
}
 
.btn-default, 
.btn-default:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}
 
.btn-default:hover {
    color: rgb(236, 26, 26);
    background-color: #dd6c1b;
}
.card {
    border: 1px solid orange; /* Bordure orange */
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre pour la profondeur */
    text-align: center; /* Centrer le contenu */
    padding: 10px; /* Ajouter un peu d'espace intérieur */
}

/* Couleurs pour la disponibilité et "Occupé par" */
.availability {
    color: green; /* Couleur verte pour la disponibilité */
}

.occupied {
    color: red; /* Couleur rouge pour "Occupé par" */
}
.card img {
    display: block;
    margin: 0 auto; /* Centre l'image horizontalement */
}
.custom-alert {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.custom-alert.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.custom-alert.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
